    body{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:xx-large;
      background-size: cover;
      background-image: url("https://i.kym-cdn.com/entries/icons/original/000/032/941/cover3.jpg");
      /* he's so cool */
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
          "Display Display Display Display"
          "seven eight nine plus"
          "four five six minus"
          "one two three multiplied"
          "zerro C equals divided";
          background-color: black;
          color: black;
          height: 90vh;
          width: 65vh;
          border: black solid 5px;
      }
       
      .container *{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .Display { 
          grid-area: Display; 
          background-color: gray;
          color: white;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      
      .seven { 
          grid-area: seven; 
          background-color: white;
        }
      
      .eight { 
          grid-area: eight; 
          background-color: white;
        }
      
      .nine { 
          grid-area: nine; 
          background-color: white;
        }
      
      .plus { 
          grid-area: plus; 
          background-color: greenyellow;
        }
      
      .minus { 
          grid-area: minus;
          background-color: red;
        }
      
      .six { 
          grid-area: six; 
          background-color: white;
        }
      
      .five { 
          grid-area: five; 
          background-color: white;
        }
      
      .four { 
          grid-area: four; 
          background-color: white;
        }
      
      .one { 
          grid-area: one; 
          background-color: white;
        }
      
      .two { 
          grid-area: two; 
          background-color: white;
        }
      
      .three { 
          grid-area: three; 
          background-color: white;
        }
      
      .zerro { 
          grid-area: zerro; 
          background-color: white;
        }

      .equals {
          grid-area: equals;
          background-color: white;
      }
      
      .C { 
          grid-area: C; 
          background-color: white;
        }
      
      .divided { 
          grid-area: divided; 
          background-color: orange;
        }
      
      .multiplied { 
          grid-area: multiplied; 
          background-color: cyan;
        }
      
  